@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}

/* 共通パーツ */
html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Zen Old Mincho', serif;
    /* font-family: serif; */
    line-height: 1.5;
    letter-spacing: 0.1em;
    /* font-family: 'yu mincho'; */
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 1.6rem;
}



/* ローディング */

.loading {
    width: 100%;
    height: 100vh;
    transition: all 2s;
    background: black;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.loaded {
    opacity: 0;
    visibility: hidden;
}


/* 切り込み＆開閉エフェクト */

.load_line {
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 50;
}

.up {
    width: 100%;
    height: 50%;
    background-color: #000;
    position: fixed;
    z-index: 49;
}

.down {
    width: 100%;
    height: 50%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    z-index: 49;
}



/* ナビゲーション */

nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    /* background-color: #666; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    z-index: 5;
    /* 時間の指定 */
    animation-duration: 2.5s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: 1;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: fadein-top;
}

/* animation-timing-function について
    ※ 初期値は ease：最初と最後をゆっくり
       その他   ease-in-out : 最初と最後をかなりゆっくり
                ease-in：最初をゆっくり
                ease-out：最後をゆっくり
                linear：一定                             */


@keyframes fadein-top {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    /* 90%{
        opacity: 0;
        transform: translateY(-30px);
    } */


    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-l-box {
    width: 5%;
    min-width: 65px;
    height: 90%;
    /* background-image: url(./top_img/hidariue4.png);
    background-size: contain;
    background-repeat: no-repeat; */
    margin-left: 4%;
}

.header-l-box a {
    display: flex;
    align-items: center;
}

.header-l-box img {
    width: 90%;
}

.header-r-box {
    /* width: auto; */
    width: 95%;
    height: 80%;
    /* background-color: #fff; */
    margin-right: 1%;
}


nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

nav ul li:nth-child(1) {
    display: none;
}

nav ul li {
    list-style-type: none;
    padding-right: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 6;
}

nav ul li a::after {
    position: absolute;
    left: -10%;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #000000;
    transform: scale(0, 1);
    /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top;
    /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 0.5s;
    /*変形の時間*/
}

a:hover::after {
    transform: scale(1.2, 1.5);
    /*ホバー後、x軸方向に1.2（相対値）伸長 & y軸も同じイメージで伸長*/
}

nav ul li a h6 {
    font-weight: bold;
    font-family: 'freight-big-pro', serif;
}


.head-animation {
    transform: translateY(-100%);
    transition: all .5s;
}






/* main */

/* firstsection */

section {
    width: 100%;
    height: 100vh;
}

.profile_firstsection {
    width: 100%;
    height: 140vh;
    /* background-color: #00000066; */
}




.main-visual_box {
    width: 100%;
    height: 90vh;
    /* background-color: orange; */
    position: relative;
}

.main-visual_imgbox {
    /* width: 70%; */
    height: 100%;
    margin: 0 auto;
    /* background-color: aquamarine; */
    padding-top: 20vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 700px;
    /* min-width: 1000px; */
    transform: rotate(6deg);
}

.img1_justbox {
    /* width: 70%; */
    width: 100%;
    height: 70%;
    position: relative;
    opacity: 0;
}

.main-visual_imgbox .img1 {
    width: 100%;
    height: 100%;
    box-shadow: 30px 80px 25px -50px rgba(0, 0, 0, 0.5);
}

.img2_justbox {
    position: absolute;
    top: -14%;
    right: -8%;
    width: 120px;
    height: 120px;
    opacity: 0;
}


.fadein_b0 {
    /* 時間の指定 */
    animation-duration: 2s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: 1;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: fadein-bottom0;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom0 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.main-visual_imgbox .img2 {
    width: 100%;
    height: 100%;
    animation-duration: 15s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: infinite;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: kaiten2;
}

@keyframes kaiten2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}






/* テキストループ */

.textloop_box {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;
}

.loop {
    animation: loop 15s linear infinite;
    width: 100%;
    font-family: serif;
    font-size: 8.5rem;
    color: rgba(0, 0, 0, .0);
    -webkit-text-stroke: 1px #000000;
    text-align: center;
    white-space: nowrap;
    padding-left: 0.2em;
}

/* 
.loop2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: loop 50s -25s linear infinite;
    font-family: serif;
    font-size: 16.5rem;
    color: rgba(0, 0, 0, .0);
    -webkit-text-stroke: 1px #000000;
    text-align: center;
} */

@keyframes loop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.main-visual_underbox {
    width: 100%;
    height: 50vh;
}

.main_textbox {
    /* width: 50%; */
    height: 100%;
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
    max-width: 650px;

    /* background-color: blue; */
}

.main_textbox h5 {
    font-weight: normal;
}

.main_textbox h6 {
    text-align: justify;
    line-height: 2em;
    padding-top: 5vh;
    font-weight: normal;
}





/* secondsection */

.eachTextAnime span {
    opacity: 0;
}

.eachTextAnime.appeartext span {
    animation: text_anime_on 1s ease-out forwards;
}

@keyframes text_anime_on {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.profile_secondsection {
    width: 100%;
    height: 120vh;
    /* background-color: #000; */
}

/* 
.section_inner {
    width: 80%;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    padding-left: 10%;
    margin: 0 auto;
    background-color: #9f6666;
    opacity: 0.5;
} */

/* 
.sectiontitle_box {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    border-bottom: 1px solid #000;
}

.maintitle_box {
    width: 30%;
    height: 100%;
}

.maintitle_box h1 {
    font-size: 7rem;
    font-weight: normal;
    margin-top: -50px;
    padding-top: 50px;
    color: #fff;
}

.subtitle_box {
    width: 80%;
    height: 100%;
}

.subtitle_box h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 1%;
    color: #b2b2b2;
} */

/* -----------------上記保留-------------------- */


.area {
    overflow: hidden;
    background-color: #000000e0;
}

.wrap {
    display: flex;
    position: relative;
}


.wrap_titlebox {
    position: absolute;
    display: flex;
    align-items: first baseline;
    width: 50%;
    top: 15vh;
    left: 7.5%;
    z-index: 1;
}

.wrap_endtitlebox {
    position: absolute;
    width: 40%;
    height: 30vh;
    bottom: -30.5%;
    /* left: 12%; */
    right: 47%;
    z-index: 1;
}

.wrap_endtitlebox h1 {
    font-size: 22rem;
    font-family: serif;
    font-weight: bold;
    color: rgba(0, 0, 0, .0);
    color: #000;
    text-align: center;
    /* -webkit-text-stroke: 1px #4a4a4a; */
}

.wrap_titlebox h1 {
    font-size: 8rem;
    font-weight: normal;
    margin-top: -50px;
    padding-top: 50px;
    color: #fff;
}

.wrap_titlebox h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 1%;
    color: #acacac;
}



/* .wrap_line {
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 0%;
    z-index: 2;
} */



.item {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold; */
    /* color: #fff; */
}


/*  
.item:nth-of-type(1) {
    background-color: #e94d15;
}

.item:nth-of-type(2) {
    background-color: #f18d1d;
} 

.item:nth-of-type(3) {
    background-color: #f8b633;
}

.item:nth-of-type(4) {
    background-color: #8cc561;
}

.item:nth-of-type(5) {
    background-color: #56aa59;
} */



.prof_box {
    display: flex;
    align-items: flex-end;
}

.prof_bigtextbox1 {
    width: 85%;
    height: 60%;
    /* background-color: rgba(0, 0, 0, 0.093); */
    margin-left: 15%;
    display: flex;
}

.prof_bigtextbox2 {
    width: 85%;
    height: 60%;
    /* background-color: rgba(0, 0, 0, 0.093); */
    margin-right: 15%;
    display: flex;
}

.prof_bigtextbox3 {
    width: 85%;
    height: 60%;
    /* background-color: rgba(0, 0, 0, 0.093); */
    margin-right: 15%;
    display: flex;
}

.prof_textbox {
    width: 100%;
    height: 100%;
    color: #fff;
    /* background-color: red; */
    /* border: 1px solid black; */
    text-align: justify;
    position: relative;
}


.fadein_n6 {
    /* 時間の指定 */
    animation-duration: 1.0s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: 1;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: fadein-normal5;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fadein_n7 {
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-normal5;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fadein_n8 {
    animation-duration: 2.0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-normal5;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fadein_n9 {
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-normal5;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}






.overtext1 {
    padding: 3% 0;
    font-weight: normal;
    font-style: oblique;
}

.overtext2 {
    font-size: 1.6rem;
    font-weight: normal;
}


.undertext {
    padding-top: 35%;
    padding-right: 25%;
    font-weight: normal;
    line-height: 2em;
}

.prof_line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 125px;
    left: 0;
}


.prof_longline {
    width: 140%;
}


.prof_dots {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 120px;
    left: -2px;
}


.prof_yohakubox {
    width: 100%;
    height: 30vh;
    background-color: #00000000;
    position: relative;
    z-index: 0;
    /* border-bottom: 3px solid red; */
}


.profile_backsecondsection {
    width: 100%;
    height: 160vh;
    /* border-bottom: 3px solid yellow */
}






/* secondsection2 */

.profile_secondsection2 {
    width: 100%;
    height: 240vh;
    /* background-color: #00000066; */
    background-color: #000000e0;
    color: #fff;

    position: relative;
    overflow: hidden;
}


.endtitlebox {
    position: absolute;
    bottom: 0;
    right: -50px;
    color: #fff;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.endtitlebox h1 {
    font-size: 20rem;
    font-family: serif;
    font-weight: bold;
    color: rgba(0, 0, 0, .0);
    color: #000;
    text-align: center;

    padding: 0.5em 0 0 0;
    letter-spacing: 0.02em;
}


.respo2 {
    display: none;
}


.profile_secondsection2 .sectiontitle_box {
    padding-top: 20vh;
}



/*タイムライン全体の設定*/
.timeline {
    /* max-width: 1000px; */
    width: 100%;
    /* margin: 50px auto; */
    /* padding: 0 30px; */
    padding-top: 10vh;
}

.timeline li {
    /*線の起点とするためrelativeを設定*/
    position: relative;
    list-style: none;
    padding: 0 0 20px 0;
    color: #fff;
    width: 100%;
    height: 30vh;
}

.timeline dl {
    margin: 0 0 20px 3em;
}

.timeline dt {
    font-style: oblique;
    padding-left: 2em;
    font-size: 18px;
}

.timeline dd {
    font-size: 16px;
}

.timeline dd strong {
    display: block;
    padding: 10px 0 30px;
    text-align: center;
    font-size: 22px;
}




/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
    position: absolute;
    left: 0.4em;
    top: 5px;
    width: 2px;
    /*線の太さ*/
    height: 0;
    /*はじめは高さを0に*/
    background: #ffffff;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}







/* section 私の強みの部分 */



.profile_thirdsection {
    width: 100%;
    height: 250vh;
    padding-top: 20vh;

    /* background-color: pink; */
}

.section_inner {
    width: 70%;
    height: 225vh;
    margin: 0 auto;

    /* padding-top: 25vh; */
    /* background-color: palevioletred; */
}

.sectiontitle_box {
    display: flex;
    align-items: first baseline;
    width: 100%;
}

.sectiontitle_box h1 {
    font-size: 8rem;
    font-weight: normal;
    margin-top: -50px;
    padding-top: 50px;
}

.sectiontitle_box h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 4%;
}


.strength_circlebox {
    width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;

    /* background-color: yellow;     */
}


.circlebox {
    width: 100%;
    height: 100%;

    /* border: 1px solid #000; */

    display: flex;
    justify-content: center;
    align-items: center;
}


.shape,
.shape2,
.shape3 {
    width: 95%;
    height: 95%;
    background-image: conic-gradient(#000 0deg, #fff 0deg);
    clip-path: circle();
    /* display: grid; */
    /* place-items: center; */

    position: relative;
    white-space: nowrap;
}

.shape::before,
.shape2::before,
.shape3::before {
    content: "";
    width: 99.5%;
    height: 99.5%;
    /* background-color: white; */
    clip-path: circle();

}

.shape h5,
.shape2 h5,
.shape3 h5 {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: normal;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.fadein_b {
    animation-duration: 2.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-bottom;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }


    100% {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}

.fadein_b2 {
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-bottom;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    20% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }


    100% {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}

.fadein_b3 {
    animation-duration: 2.4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: fadein-bottom;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }


    100% {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}




.strength_numberbox {
    width: 100%;
    height: 2%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1%;
    position: relative;

    /* background-color: purple; */
}

.strength_numberbox h6 {
    font-weight: normal;
}

/* .Text-Span {
    position: relative;
    z-index: 1;
} */

.Text-Span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1%;
    width: 0%;
    height: 1px;
    /* background: #5bc8ac; */
    background: #000;
    /* z-index: -1; */
    transition: all 2.0s;
}

.Text-Span.line_lr2:after {
    width: 100%;
}


.strength_textbox {
    width: 100%;
    height: 40vh;
    display: flex;

    /* background-color: green; */
}

.strength_l_textbox {
    width: 100%;

    /* border: 1px solid #000; */
}

.strength_r_textbox {
    width: 100%;

    /* border: 1px solid #000; */
}

.strength_l_textbox h1 {
    /* font-size: 8rem; */
    font-size: 4rem;
    font-family: serif;
    font-weight: normal;
    letter-spacing: 0;
    padding-top: 20px;
}


.strength_r_textbox {
    text-align: justify;
}

.strength_r_textbox h6 {
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2em;
    padding-top: 25px;
}

/* 
.strength_l_textbox h1,
.strength_r_textbox h6 {
    opacity: 0;
} */



.fadein_n4 {
    /* 時間の指定 */
    animation-duration: 1.5s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: 1;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: fadein-normal4;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadein_n5 {
    /* 時間の指定 */
    animation-duration: 1.5s;
    /* duration : 間隔 */
    /* アニメーション実行回数の指定 */
    animation-iteration-count: 1;
    /* iteration : 反復 */
    /* 動きの加速度 */
    animation-timing-function: linear;
    /* timing : 時間調整 , function : 関数 */
    /* 動きの指定 */
    animation-name: fadein-normal5;
    animation-fill-mode: forwards;
}

@keyframes fadein-normal5 {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}






/* フッター */

footer {
    width: 100%;
    height: 7vh;
}

.footbox {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #000;
    align-items: center;
}

.foot_lbox,
.foot_rbox {
    width: 100%;
    /* height: 100%; */
}

.foot_lbox small {
    font-size: 1.4rem;
}

.foot_rbox {
    text-align: right;
}

.foot_rbox a {
    color: #000;
    text-decoration: none;
}

.foot_rbox h6 {
    font-weight: normal;
    font-size: 1.4rem;
}









/* .yohaku {
    width: 100%;
    height: 200vh;
    background-color: #00000022;
} */






/* ---------------------------------------------- */

/* レスポンシブ準備 */


.openbtn {
    /* background: #fff; */
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /*  */
    position: relative;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 10;
    cursor: pointer;
    /* position: relative; */

    display: none;
}



.openbtn span:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    transition: all 0.5s;
}

.openbtn span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
}





/* レスポンシブ */

@media screen and (max-width: 1350px) {
    .wrap_endtitlebox {
        right: 49%;
    }

    .strength_circlebox {
        height: 55vh;
    }
}

@media screen and (max-width: 1200px) {
    .wrap_endtitlebox {
        right: 51%;
    }

    .strength_circlebox {
        height: 45vh;
    }
}

@media screen and (max-width: 1150px) {
    .wrap_endtitlebox {
        right: 52%;
    }
}

@media screen and (max-width: 1100px) {
    .wrap_endtitlebox {
        right: 53%;
    }
}

@media screen and (max-width: 1050px) {
    .wrap_endtitlebox {
        right: 54%;
    }
}




@media screen and (max-width: 1023px) {
    .respo1 {
        display: none;
    }

    .profile_backsecondsection {
        display: none;
    }


    .respo2 {
        display: block;
    }


    /* thirdsection */

    .profile_thirdsection {
        height: 255vh;
    }

    .strength_l_textbox h1 {
        font-size: 3.6rem;
    }

    .strength_textbox {
        height: 45vh;
    }

    .strength_circlebox {
        height: 40vh;
    }


}



/* タブレット中 */

@media screen and (max-width: 768px) {

    h5 {
        font-size: 2.2rem;
    }

    h6 {
        font-size: 1.6rem;
        letter-spacing: 0;
    }

    /* ハンバーガーメニュー */

    .openbtn {
        display: block;
    }

    nav {
        animation-name: none;
    }

    .header-nav .nav_listbox {
        position: fixed;
        align-items: flex-start;
        padding-top: 15%;
        /* top: -100%; */
        top: 0%;
        /* right: 0; */
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        box-sizing: border-box;
        z-index: -100;
        transition: all .5s;
        margin: 0;
        padding: 0;

        visibility: hidden;
        opacity: 0;
        transition: all 1.0s;
    }



    .active span:nth-child(1) {
        opacity: 0;
        transition: all 0.5s;
    }

    .active span:nth-child(2) {
        opacity: 1;
        transition: all 0.5s;
    }



    .header-nav .nav_active {
        /* top: 0; */
        visibility: visible;
        opacity: 1;
    }


    nav ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        /* margin-left: 5%;
        margin-top: 45%; */
    }

    nav ul li:nth-child(1) {
        display: block;
    }

    li {
        list-style-type: none;
        padding-left: 5%;
        height: 15vh;
        margin: 0;
        /* border-bottom: 1px solid #fff; */
    }

    nav ul li a {
        color: #fff;
        padding: 0;
    }

    nav ul li a h6 {
        font-size: 5rem;
        opacity: 0;
    }

    .nav_active ul li a h6 {
        opacity: 1;
        transition: all 4.0s;
    }


    .header-l-box {
        margin-left: 0.5%;
        min-width: 50px;
        padding-top: 15px;
    }






    /* メインビジュアル */

    .profile_firstsection {
        height: 125vh;
    }

    .main-visual_underbox {
        height: 40vh;
    }


    .main-visual_imgbox {
        max-width: 500px;
    }


    .main-visual_imgbox .img1 {
        box-shadow: 15px 30px 15px -10px rgba(0, 0, 0, 0.5);
    }


    .img2_justbox {
        position: absolute;
        top: -12%;
        right: -10%;
        width: 100px;
        height: 100px;
        opacity: 0;
    }



    /* テキストループ */

    .loop {
        font-size: 6.5rem;
    }


    .main_textbox {
        max-width: 700px;
        line-height: 1em;
        padding: 20px;
    }



    #respo1 {
        display: none;
    }

    #respo2 {
        display: block;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 5.5rem;
    }



    .section_inner {
        width: 90%;
    }

    /* secondsection2 */
    .profile_secondsection2 {
        height: 215vh;
    }

    .endtitlebox h1 {
        padding: 0.25em 0 0 0;
    }

    /* thirdsection */
    .profile_secondsection2 .sectiontitle_box {
        padding-top: 10vh;
    }

    .profile_thirdsection {
        height: 250vh;
        padding-top: 10vh;
    }

    .strength_circlebox {
        height: 65vh;
    }

    .circle1,
    .circle2,
    .circle3 {
        position: relative;
    }

    .circleleft {
        position: absolute;
        top: 225px;
        right: -118px;
    }

    .circlecenter {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 225px;
        left: -118px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 250px;
        height: 250px;
    }

    .fadein_b {
        animation-duration: 2.0s;
    }

    .fadein_b2 {
        animation-duration: 1.5s;
    }
    
    .fadein_b3 {
        animation-duration: 2.8s;
    }




    .strength_textbox {
        display: block;
        overflow: hidden;
    }


    .footbox {
        display: block;
    }

    .foot_rbox {
        padding-top: 10px;
    }

    .foot_lbox{
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }
    
}





@media screen and (max-width: 600px) {

    h5 {
        font-size: 2.0rem;
    }

    h6 {
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    /* メインビジュアル */

    .main-visual_imgbox {
        max-width: 450px;
    }


    .img2_justbox {
        position: absolute;
        top: -10%;
        right: -11%;
        width: 100px;
        height: 100px;
        opacity: 0;
    }


    .main_textbox {
        max-width: 540px;
    }


    /* テキストループ */

    .loop {
        font-size: 5.5rem;
    }


    /* secondsection2 */
    .timeline dt {
        padding-left: 0em;
        font-size: 16px;
    }

    .timeline dd strong {
        font-size: 20px;
    }


    .timeline dd {
        font-size: 15px;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 5.0rem;
    }


    /* therdsection */

    .profile_thirdsection {
        height: 250vh;
    }

    .strength_circlebox {
        height: 60vh;
    }

    .circleleft {
        top: 200px;
        right: -100px;
    }

    .circlecenter {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 200px;
        left: -100px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 225px;
        height: 225px;
    }

}


@media screen and (max-width: 500px) {

    /* メインビジュアル */

    .main-visual_imgbox {
        max-width: 350px;
    }


    .img2_justbox {
        position: absolute;
        top: -10%;
        right: -13%;
        width: 90px;
        height: 90px;
        opacity: 0;
    }


    .main_textbox {
        max-width: 450px;
    }


    /* テキストループ */

    .loop {
        font-size: 4.5rem;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 4.5rem;
    }



    /* therdsection */

    .profile_thirdsection {
        height: 255vh;
    }

    .strength_circlebox {
        height: 55vh;
    }

    .circleleft {
        top: 180px;
        right: -80px;
    }

    .circlecenter {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 180px;
        left: -80px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 200px;
        height: 200px;
    }

    .strength_textbox {
        height: 50vh;
    }


}




@media screen and (max-width: 425px) {

    /* メインビジュアル */

    .profile_firstsection {
        height: 90vh;
    }

    .main-visual_box {
        height: 50vh;
    }


    .main-visual_imgbox {
        max-width: 300px;
        padding-top: 15vh;
    }


    .img2_justbox {
        position: absolute;
        top: -20%;
        right: -14%;
        width: 90px;
        height: 90px;
        opacity: 0;
    }


    .main_textbox {
        max-width: 380px;
        padding: 15px;
    }


    /* テキストループ */
    .loop {
        font-size: 4.0rem;
    }



    /* secondsection2 */

    .timeline dd strong {
        font-size: 18px;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 4.5rem;
    }



    /* secondsection2 */
    .profile_secondsection2 {
        height: 215vh;
    }

    .profile_secondsection2 .sectiontitle_box {
        padding-top: 10vh;
    }

    .endtitlebox h1 {
        font-size: 19rem;
        padding: 0.2em 0 0 0;
    }



    /* thirdsection */
    .profile_thirdsection {
        /* height: 250vh; */
        padding-top: 10vh;
    }



    /* therdsection */

    .profile_thirdsection {
        height: 230vh;
    }

    .strength_circlebox {
        height: 50vh;
    }

    .circleleft {
        top: 175px;
        right: -65px;
    }

    .circlecenter {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 175px;
        left: -65px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 190px;
        height: 190px;
    }

    .strength_textbox {
        height: 45vh;
    }


    .strength_r_textbox h6 {
        font-weight: normal;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        line-height: 2em;
        padding-top: 15px;
    }



    .foot_lbox small {
        font-size: 1.1rem;
    }

    .foot_rbox h6 {
        font-weight: normal;
        font-size: 1.2rem;
    }
}



@media screen and (max-width: 375px) {

    /* メインビジュアル */

    .profile_firstsection {
        height: 93vh;
    }

    .main-visual_imgbox {
        max-width: 275px;
    }


    .img2_justbox {
        position: absolute;
        top: -18%;
        right: -13%;
        width: 80px;
        height: 80px;
        opacity: 0;
    }


    .main_textbox {
        max-width: 340px;
    }



    /* テキストループ */

    .loop {
        font-size: 3.5rem;
    }


    /* secondsection2 */
    .timeline dd strong {
        font-size: 17px;
    }


    .timeline dd {
        font-size: 14.5px;
    }

    .endtitlebox h1 {
        font-size: 18rem;
        padding: 0.2em 0 0 0;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 4.0rem;
    }


    /* therdsection */

    .profile_thirdsection {
        height: 240vh;
    }

    .strength_circlebox {
        height: 45vh;
    }

    .circleleft {
        top: 155px;
        right: -60px;
    }

    .circlecenter {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 155px;
        left: -60px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 170px;
        height: 170px;
    }

    .strength_textbox {
        height: 50vh;
    }

}


@media screen and (max-width: 320px) {

    h5 {
        font-size: 1.7rem;
    }

    h6 {
        font-size: 1.3rem;
        letter-spacing: 0;
    }



    /* メインビジュアル */

    .profile_firstsection {
        height: 90vh;
    }

    .main-visual_underbox {
        height: 35vh;
    }

    .main-visual_imgbox {
        max-width: 240px;
    }


    .img2_justbox {
        position: absolute;
        top: -17%;
        right: -13%;
        width: 70px;
        height: 70px;
        opacity: 0;
    }


    .main_textbox {
        max-width: 290px;
    }


    /* テキストループ */

    .loop {
        font-size: 3.0rem;
    }


    /* secondsection2 */

    .timeline dt {
        font-size: 14.5px;
    }

    .timeline dd strong {
        font-size: 15px;
    }


    .timeline dd {
        font-size: 14.5px;
    }


    .endtitlebox h1 {
        font-size: 17rem;
    }


    /* タイトルの文字の大きさ変更 */
    .sectiontitle_box h1 {
        font-size: 3.5rem;
    }


    /* therdsection */

    .profile_thirdsection {
        height: 250vh;
    }

    .strength_circlebox {
        height: 40vh;
    }

    .circleleft {
        top: 135px;
        right: -50px;
    }

    .circlecenter {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .circleright {
        position: absolute;
        top: 135px;
        left: -50px;
    }

    .shape,
    .shape2,
    .shape3 {
        width: 150px;
        height: 150px;
    }


    .strength_textbox {
        height: 55vh;
    }

}
